.gameBox1 {
    width: 200px;
    height: 285px;
	border-radius: 20px;
	overflow: hidden;
	-moz-box-shadow:    2px 2px 3px 2px #ccc;
  	-webkit-box-shadow: 2px 2px 3px 2px #ccc;
  	box-shadow:         2px 2px 3px 2px #ccc;
	margin: 10px;
	position: relative;
	transition:.3s all ease;
}
.gameBox1:hover {
	transform:scale(1.1);
	z-index: 1;
}
.gameBox2 {
    width: 80%;
	height: auto;
	border-radius: 20px;
	overflow: hidden;
	-moz-box-shadow:    2px 2px 3px 2px #ccc;
  	-webkit-box-shadow: 2px 2px 3px 2px #ccc;
  	box-shadow:         2px 2px 3px 2px #ccc;
    margin: 15px;
}
