.thumbs {
    width: 110px;
    display: table-cell;
}

.big {
    width: 300px;
    height: 300px;
}
.med {
    width: 150px;
    height: 150px;
}
.thumb {
    max-width: 50px;
    max-height: 50px;
    margin: 5px auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 3px;
}
