.teamBox {
    width: 200px;
    height: 250px;
    text-align: center;
    margin-bottom: 10px;
  }

figure {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

/* Gray Scale */
.teamBox figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.teamBox figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}