.iBox1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    border-radius: 0.25rem;
	max-width: 900px;
}
.bg-paint {
	background-image: url("/img/index/bg-white.png");
	background-repeat: no-repeat;
}
.homeText {
	max-width: 400px;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
}
.iImgW {
	background: linear-gradient(0deg, rgba(188,235,247,1) 0%, rgba(1,167,211,1) 100%);
	-moz-box-shadow:    1px 2px 3px 2px #ccc;
  	-webkit-box-shadow: 1px 2px 3px 2px #ccc;
  	box-shadow:         1px 2px 3px 2px #ccc;
	width: 180px;
	height: 180px;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	font-size: medium;
	position: relative;
    top: 0;
    transition: top ease 0.1s;
}
.iImg1 {
	background: linear-gradient(180deg, rgba(240,243,250,1) 0%, rgba(1,167,211,1) 100%);
	-moz-box-shadow:    1px 2px 3px 2px #ccc;
  	-webkit-box-shadow: 1px 2px 3px 2px #ccc;
  	box-shadow:         1px 2px 3px 2px #ccc;
	width: 180px;
	height: 180px;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;
	padding-top: 10px;
	color: #01a7d3;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	font-size: medium;
	position: relative;
    top: 0;
    transition: top ease 0.1s;
}
.iImg1:hover{
	top: -5px;
	color: #265a8e;
}
.iImg2 {
	background: linear-gradient(180deg, rgba(240,243,250,1) 0%, rgba(38,90,142,1) 100%);
	-moz-box-shadow:    1px 2px 3px 2px #ccc;
  	-webkit-box-shadow: 1px 2px 3px 2px #ccc;
  	box-shadow:         1px 2px 3px 2px #ccc;
	width: 180px;
	height: 180px;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;
	padding-top: 10px;
	color: #01a7d3;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	font-size: medium;
	position: relative;
	top: 0;
	transition: top ease 0.1s;
}
.iImg2:hover{
	top: -5px;
	color: #265a8e;
}
.iImg3 {
	background: linear-gradient(180deg, rgba(240,243,250,1) 0%, rgba(154,205,87,1) 100%);
	-moz-box-shadow:    1px 2px 3px 2px #ccc;
  	-webkit-box-shadow: 1px 2px 3px 2px #ccc;
  	box-shadow:         1px 2px 3px 2px #ccc;
	width: 180px;
	height: 180px;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;
	padding-top: 10px;
	color: #01a7d3;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	font-size: medium;
	position: relative;
	top: 0;
	transition: top ease 0.1s;
}
.iImg3:hover{
	top: -5px;
	color: #265a8e;
}
.iImg1Inactive {
	background: linear-gradient(180deg, rgba(240,243,250,1) 0%, rgba(1,167,211,1) 100%);
	-moz-box-shadow:    4px 5px 6px 4px #ccc;
  	-webkit-box-shadow: 4px 5px 6px 4px #ccc;
	box-shadow:         4px 5px 6px 4px #ccc;
	width: 180px;
	height: 180px;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;
	padding-top: 10px;
	color: #01a7d3;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	font-size: large;
	position: relative;
    top: 0;
    transition: top ease 0.1s;
}
.iImg1Inactive:hover{
	top: -5px;
	color: black;
	background: linear-gradient(180deg, rgba(240,243,250,1) 0%, grey 100%);
}
.iImg1Inactive:hover span {
	display:none;
}
.iImg1Inactive:hover:before {
	content:"Check back";
}
