//Footer
.footer {
	z-index: 100;
	width: 100%;
	position: relative;
	bottom: 0;
	font-size: 14px;
	overflow: hidden;
	box-shadow: inset 0 2px 0 hsla(0,0%,100%,.25), inset 0 -2px 0 rgba(0,0,0,.25);
}
.footer a:link{
	color: #fff;
}
.footer a:visited{
	color: #fff;
}
.footer a:hover{
	color: #9acd57;
}
@media (max-width: 768px) { /* mobile */
	.footer{
		height: 400px;
	}
}
@media (min-width:769px) { /* desktops */
	.footer{
		height: 200px;
		padding: 40px;
		background: rgb(76,113,157);
		background: linear-gradient(0deg, rgba(76,113,157,1) 0%, rgba(54,94,145,1) 100%);
	}
}