section     {
    padding-bottom: 50px;
  
    .section-header   {
      position: relative;
      text-align: center;
    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
