/*============ TIMELINE GAME =============*/
.description {
	width: 600px;
	height: auto;
    margin: auto;
    padding-top: 20px;
}
#draggable {
	width: 24px;
	height: 20px;
	background: red; }
.dragging {
	background-color: #000;
}
#helper {
	width: 24px;
	height: 20px;
	background: yellow;
}
#gameTimeline {
	width: 500px;
	height: 640px;
	margin: auto;
	padding: 0 10px;
	background: #265a8e;
	border-radius: 10px;
}
#gameTitle1 {
	float: left;
	width: 50%;
	color: #fff;
	font-weight: bold;
	padding: 5px 40px;
	font-size: 24px;
}
#gameTitle2 {
	float: left;
	width: 50%;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	font-size: 24px;
}
#ageBoxes {
	width: 100px;
	height: auto;
	margin: auto;
	float: left;
	text-align: center;
    padding: 0 10px;
}
#ageBoxes div {
	width: 100px;
	height: 30px;
	margin: 5px 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px 0 0 10px;
    background: #fff;
    text-align: center;
	font-size: 18px;
	padding: 5px;
    border-right: 1px solid;
}
#answerBoxes {
	width: 380px;
	height: auto;
	margin: auto;
	float: left;
	text-align: center;
    padding: 0 10px;
}
#answerBoxes div {
	width: 360px;
	height: 30px;
	margin: 5px 0 5px 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 0 10px 10px 0;
    background: #fff;
	font-size: 18px;
	padding: 5px;
	cursor: move;
}
#answerBoxes div.ui-draggable-dragging {
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
#checkAnswers {
	width: 780px;
	height: auto;
	margin:  20px auto;
	padding: 5px;
	color: #265a8e;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
#successMessage {
	width: 780px;
	height: auto;
	margin:  20px auto;
	padding: 5px;
	color: #265a8e;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
#card1.correct, #card2.correct, #card3.correct, #card4.correct, #card5.correct, #card6.correct, #card7.correct, #card8.correct, #card9.correct, #card10.correct, #card11.correct, #card12.correct, #card13.correct, #card14.correct, #card15.correct, #card16.correct {
    background-color: #f0f3fa;
    color: #000;
    font-weight: bold;
}
