
    body {
	margin: 0;
	padding: 0;
	font-family: Times;
	font-size: 25px;
	color: #265a8e;
	overflow-x: hidden;
    text-align: center;
    }
    a:link {
        color: #265a8e;
        outline: 0;
        text-decoration: none;
    }
    a:visited {
        color: #265a8e;
        outline: 0;
    }
    a:active {
            color: #265a8e;
            outline: 0;
    }
    a:hover {
            color: #01a7d3;
            outline: 0;
    }
    #quiz {
        width: 960px;
        height: 500px;
        background-image: url("/img/games/ring/bg.png");
        background-repeat: no-repeat;
        padding: 100px 0 0 0;
        text-align: center;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #navContent{
        margin:auto;
        width:960px;
        height:400px;
        position:relative;
        overflow:hidden;
        }
    #game1{
        margin:auto;
        width:960px;
        height:400px;
        right:0px;
        position:absolute;
        }
    #game2{
        margin:auto;
        width:960px;
        height:400px;
        right:-960px;
        position:absolute;
        }
    .questionText{
        font-size:40px;
        font-weight: bold;
        color:#265a8e;
        padding-bottom: 20px;
        }
    .option{
        width: 400px;
        height: 30px;
        margin: 15px 280px 0 280px;
        color: #FFFFFF;
        padding: 2px;
        cursor: pointer;
        background-color: #265a8e;
        border-radius: 6px;
        }
    .option:hover{
        color:#01a7d3;
        }
    .spacer{
        height:30px;
        }
    .feedback1{
        width: 160px;
        height: 30px;
        margin: 30px 400px 0 400px;
        padding: 5px;
        font-weight: bold;
        color:#265a8e;
        background-color:#FFF;
        text-align:center;
        border-radius: 6px;
    }
    .feedback2{
        width: 160px;
        height: 30px;
        margin: 30px 400px 0 400px;
        padding: 5px;
        font-weight: bold;
        color:#265a8e;
        background-color:#FFF;
        text-align:center;
        border-radius: 6px;
    }
    .btn-replay {
        width: 160px;
        height: 30px;
        color: #fff;
        background: #01a7d3 linear-gradient(180deg, #27b4da, #01a7d3) repeat-x;
        border-color: #01a7d3;
        border-radius: 6px;
        overflow: hidden;
    }

    .btn-replay:hover {
        color: #fff;
        background: #0189ad linear-gradient(180deg, #279bb9, #0189ad) repeat-x;
        border-color: #017fa0;
    }

    .btn-replay:focus,
    .btn-replay.focus {
        color: #fff;
        background: #0189ad linear-gradient(180deg, #279bb9, #0189ad) repeat-x;
        border-color: #017fa0;
        box-shadow: 0 0 0 0.2rem rgba(39, 180, 218, 0.5);
    }



    @media screen and (max-width:800px) {
        #topbar{margin-left:1%;margin-right:1%;width:96%;}
        #navContent{margin:1%;width:98%;}
        #game1{margin:1%;width:98%;}
        #game2{margin:1%;width:98%;}
    }

    @media screen and (max-width:460px) {
        .option{width:80%;margin-top:5%;}
    }
